/*
    Title: SBHome2
    Version: 1.2.0
    Last Change: 05/20/17
    Author: Stephen Boyer, Ryan Fitzgerald
    Repo (orig): https://github.com/RyanFitzgerald/devportfolio-template
    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:
        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Optional Section Styles
        12. Media Queries
*/
/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/
/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/
/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/
body {
  font-family: 'Linux Biolinum O', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  background: linear-gradient(65deg, #464646, #393939);
}
body.active {
  overflow: hidden;
  z-index: -1;
}

h2 {
  color: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
#logo {
  width: 100%;
  height: 100%;
}

.card-body {
  background-color: #535353;
  font-family: 'Linux Biolinum O', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

.card-footer {
  background-color: #535353;
}

.card {
  color: #bcdddd;
  border-color: #9acccc;
}
.card a {
  text-decoration: none;
  color: #bcdddd;
  font-family: 'Linux Biolinum O', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

nav {
  background-color: #3e3e3e;
}
nav a {
  color: #bcdddd;
}

.navbar-brand {
  display: inline-block;
  margin-left: 35px;
}

footer {
  background-color: #3e3e3e;
}

ul {
  padding-left: 0;
  list-style: none;
}

.big-card {
  background: #9acccc;
  border-radius: 5px;
  border-color: white;
  border-bottom-width: 2px;
  padding: 60px;
  margin-top: 60px;
}

.category-list-item, .cart_button {
  background-color: #535353;
  color: #bcdddd;
  border: 1px solid #9bcccc;
  display: inline-block;
  font-family: 'Linux Biolinum O', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: calc(.25rem - 1px);
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}
.category-list-item:hover, .cart_button:hover {
  background-color: #9bcccc;
  color: black;
  text-decoration: none;
}
.category-list-item:active, .cart_button:active {
  position: relative;
  top: 1px;
}

.dropdown-menu {
  background-color: #444444;
}

.dropdown-item {
  color: white;
  background-color: #444444;
}
.dropdown-item:hover {
  background-color: #9bcccc;
  color: black;
}

.navbar-brand {
  font-family: 'Kaushan Script', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.form-group > label {
  color: white;
}

/* Define how SqPaymentForm iframes should look */
.sq-input {
  border: 1px solid #dfdfdf;
  outline-offset: -2px;
  margin-bottom: 5px;
  display: inline-block;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
  outline: 5px auto #3b99fc;
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
  outline: 5px auto #ff6161;
}

/* Customize the "Pay with Credit Card" button */
.button-credit-card {
  min-width: 200px;
  min-height: 20px;
  padding: 0;
  margin: 5px;
  line-height: 20px;
  box-shadow: 2px 2px 1px #c8c8c8;
  background: white;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  font-weight: bold;
  cursor: pointer;
}

/* Customize the Apple Pay on the Web button */
#sq-ccbox {
  float: left;
  margin: 5px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  font-family: 'Linux Biolinum O', Arial, serif;
  font-weight: normal;
}

#digital_wallet {
  color: white;
  font-family: 'Linux Biolinum O', Arial, serif;
  font-weight: normal;
  font-style: normal;
}

#sq-card-number {
  text-align: center;
}

#sq-cvv {
  text-align: center;
}

#sq-expiration-date {
  text-align: center;
}

#sq-postal-code {
  text-align: center;
}

#sq-creditcard {
  text-align: center;
}

.footer-header {
  font-size: 18px;
  margin-bottom: 0;
}

.footer-header:after {
  content: ' ';
  position: relative;
  display: block;
  width: 40px;
  margin: 0 2%;
  border: 0.5px solid #9bcccc;
  border-radius: 0px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  left: 48%;
  transform: translateX(-50%);
}

#checkout:after {
  content: ' ';
  position: relative;
  display: block;
  width: 40px;
  margin: 0 2%;
  border: 0.5px solid #9bcccc;
  border-radius: 0px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  left: 48%;
  transform: translateX(-50%);
}

.s-masthead {
  display: block;
  position: relative;
  padding: 3rem 15px;
}

@media (min-width: 576px) {
  .s-masthead {
    padding: 30px 40px 30px 40px;
  }
}
/*
    -------------------------------
    ----- Contact Styles -----
    -------------------------------
*/
#contact {
  padding: 50px 15px;
  background: #6c6c6c;
  text-align: center;
}
#contact h2 {
  margin: 0 0 15px 0;
  color: #bcdddd;
  font-weight: 500;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
}
#contact-form a, #contact-form i {
  color: #464646;
}
#contact-form input, #contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  color: #464646;
  background: white;
  transition: 0.5s ease all;
}
#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: #464646;
}
#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: #464646;
  opacity: 1;
}
#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: #464646;
  opacity: 1;
}
#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: #464646;
}
#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  background: white;
}
#contact-form textarea {
  height: 150px;
  resize: none;
}
#contact-form button {
  display: block;
  width: 100%;
  background: #6c6c6c;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #464646;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s ease all;
}
#contact-form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*These styles contain basic styles for fomatting along with our animation css*/
/*clearfixes*/
/*animation element*/
