<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="cart">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr>
            <td>Soap lorem ipsum lorre</td>
            <td>5</td>
            <td>$5.55</td>
            <td>$10.55</td>
        </tr>
        <tr>
            <td>Soap</td>
            <td>5</td>
            <td>$5.55</td>
            <td>$10.55</td>
        </tr>
        <tr>
            <td>Soap</td>
            <td>5</td>
            <td>$5.55</td>
            <td>$10.55</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>