<!DOCTYPE html>
<!-- Headers here so this page can be viewed as full html file -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Laramie Soap Co.</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="../../public/stylesheets/styles.css" th:href="@{/stylesheets/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
</body>
<!-- End Headers -->



<!-- Begin Footer Fragment -->
<div th:fragment="footer">
    <footer class="py-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 mb-2 text-center">
                    <p class="footer-header text-white text-center">Navigate</p>
                    <ul class="text-white text-center">
                        <li>Shipping Returns</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 mb-2">
                    <p class="footer-header text-white text-center">Categories</p>
                    <ul class="text-white text-center">
                        <li>Cat 1</li>
                        <li>Cat 2</li>
                        <li>Cat 3</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 mb-2 text-center">
                    <p class="footer-header text-white text-center">Info</p>
                    <ul class="text-white text-center">
                        <li>208 Grand Ave.</li>
                        <li>Laramie, WY</li>
                        <li>82070</li>
                    </ul>
                </div>
            </div>

            <p class="m-0 text-center text-white">Copyright &copy; Stephen Boyer 2017</p>
        </div>
        <!-- /.container -->
    </footer>
<!-- End Footer Fragment -->



</div>
</html>