<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>


<div class="container mt-5">
    <h2 class="text-center">About</h2>
    <input type="hidden" value="about" id="view-name"/>
    <p>
        Laramie Soap Co. was founded in 2017 by four friends in Laramie. We started small, experimenting in our kitchen to develop recipes that we tested on ourselves and our friends (but never on animals!) We began selling at the farmer’s markets in the summer of 2017 and opened the doors to our retail space on October 1st, 2017.
    </p>
</div>

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>