<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<!-- Page content -->
<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a >Product Name</a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <p>Added to Cart</p>
            </div>
            <div class="col-lg-4">
                <!--<div class="btn-group btn-group-small" role="group">-->
                    <!--<button type="button" class="btn btn-default">Continue Shopping</button>-->
                    <!--<button type="button" class="btn btn-default">Cart</button>-->
                    <!--<button type="button" class="btn btn-default">Proceed to Checkout</button>-->
                <!--</div>-->
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Left</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Middle</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Right</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>
