<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<!-- Page content -->
<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container big-card" >

        <h3 class="text-center text-white mb-4">Added to Cart</h3>

    <div class="row text-center text-white mb-4">

            <div class="col-lg-6">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" th:src="${product.imageUrl}" alt=""/></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a th:href="${product.URL}" th:text="${product.name}">Product Name</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Product Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <form action="/" method="get">
                            <button type="submit" class="btn btn-primary">Continue Shopping</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action="/store/cart/" method="get">
                            <button type="submit" class="btn btn-secondary">Cart</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group">
                        <form action="/store/checkout" method="get">
                            <button type="submit" class="btn btn-success">Proceed to Checkout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- /.container -->

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>
