<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container big-card" th:fragment="cart">
    <h3 class="text-center text-white mb-4">Cart</h3>
    <input type="hidden" value="cart" id="view-name"/>
    <h3 th:if="${cart.isEmpty()}" class="text-center text-white">Nothing in Cart</h3>
    <div class="row text-center text-white mb-4">

        <table class="table table-striped" th:unless="${cart.isEmpty()}">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody th:each="lineitem : ${cart.lineItems}">
                <tr>
                    <td th:text="${lineitem.getProductSku()}">Product Name</td>
                    <td th:text="${lineitem.getQuantity()}">
                        <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant" class="form-control input-number" th:value="${lineitem.getQuantity()}"  min="0" max="10">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td th:text="${lineitem.getPrice()}"></td>
                    <td th:text="${lineitem.getTotal()}"></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>