<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<!-- Page content -->
<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Sidebar -->
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->

        <div class="col-lg-9">
            <h2 th:text="${catname}" class="text-center mt-3"></h2>
            <input type="hidden" value="category" id="view-name"/>
            <div class="row">
                <div th:each="product : ${products}" class="col-lg-4 col-md-6 mb-4">
                    <!--/*/ <th:block th:include="fragments/card :: card"></th:block> /*/-->
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>