<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        </head>

<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div id="contact">
                <h2>Get in Touch</h2>
                <h2>
                    <a href="https://www.linkedin.com/in/steve-boyer/" target="_blank"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://github.com/steveboyer" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                </h2>
                <div id="contact-form">
                    <form method="POST" action="https://formspree.io/sboyer307@gmail.com">
                        <input type="hidden" name="_subject" value="Contact request from personal website" />
                        <input type="email" name="_replyto" placeholder="Your email" required>
                        <textarea name="message" placeholder="Your message" required></textarea>
                        <button>Send</button>
                    </form>
                </div>
                <!-- End #contact-form -->
            </div>
            <!-- End #contact -->
        </div>
    </div>

</div>

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html></title>
</head>
<body>

</body>
</html>