<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        </head>

<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>


<div class="container">

</div>

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html></title>
</head>
<body>

</body>
</html>