<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<!-- Page content -->
<body>

<!-- Navigation -->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Sidebar -->
        <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->

        <div class="col-lg-9 s-masthead">
            <div >
                <h3 th:text="${product.name}" class="text-center text-white mb-4"></h3>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="" th:src="${product.imageUrl}" class="rounded img-fluid img-thumbnail mb-4">
                    <input type="hidden" id="product-id" th:value="${product.productId}"/>

                </div>
                <div class="col-md-6" >
                    <form action="/cart/added_to_cart" method="get">
                        <input type="hidden" name="prodId" th:value="${product.productId}" />
                        <div class="form-group center-text">
                            <label for="sel-quantity" >Select Quantity:</label>
                            <select name="quantity" class="form-control" id="sel-quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div th:if="${product.hasVariations()}" id="variation-selector" class="form-group center-text">
                            <label for="sel-size">Select Size:</label>
                            <select name="size" class="form-control" id="sel-size" >
                                <option th:each="variation : ${product.getProductVariations()}" th:value="${variation.getVariationData()}" th:text="${variation.getVariationValue()}"></option>
                            </select>
                        </div>

                        <div th:unless="${product.hasVariations()}" >
                            <input type="hidden" id="single-variation-data" th:value="${product.getFirstVariation().getVariationData()}"/>
                        </div>

                        <p class="text-white" th:text="${product.description}"></p>
                        <p class="text-white" id="price">$0.00</p>



                        <!--&lt;!&ndash; Check if variation is by size in ounces &ndash;&gt;-->
                        <!--<div th:if="${product.getVariationOz()}">-->
                            <!--<div class="form-group center-text">-->
                                <!--<label for="sel-size">Select Size:</label>-->
                                <!--<select name="size" class="form-control" id="sel-size">-->
                                    <!--<div th:each="size : ${product.getVariationOzVals()}" class="col-lg-4 col-md-6 mb-4">-->
                                        <!--<option th:value="${size}" th:text="${size}"></option>-->
                                    <!--</div>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Check if variation is by large and small sizes &ndash;&gt;-->
                        <!--<div th:if="${product.getVariationLgSm()}">-->
                            <!--<div class="form-group center-text">-->
                                <!--<label for="sel-size">Select Size:</label>-->
                                <!--<select name="size" class="form-control" id="sel-size">-->
                                    <!--<div th:each="size : ${product.getVariationLgSmVals()}" class="col-lg-4 col-md-6 mb-4">-->
                                        <!--<option th:value="${size}" th:text="${size}"></option>-->
                                    <!--</div>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <a href="#" class="category-list-item" id="add-button">Add to cart</a>

                        <a href="/cart" class="category-list-item mt-2" id="go-to-cart">Go to cart</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>